
body {
  background-color: #001;
  //background-image: url('./starfield.gif');
  background-repeat: repeat;
  color: #fff;
}

.container {
  background-color: #000610;
  border: 1px solid #999;
  padding: 10px 15px 20px 15px;
}


ul.links li {
border-left:1px solid #99CCFF;

}
ul.links li.first {
border:medium none;
}
ul.links {
margin:0pt;
padding:0pt;
}
ul.links.inline {
display:inline;
}
ul.links li {
display:inline;
list-style-type:none;
padding:0pt 0.5em;
}

div.links {
margin-bottom: 1em;
}

.sidebar ul, #squeeze ul {
list-style-type: none;
margin-left: 0;
}

.sidebar ul li ul {
margin-left: 1em;
}

ul.primary, ul.secondary {
border-bottom:1px solid #666;
border-collapse:collapse;
height:16px;
line-height:normal;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:5px 10px -1px 10px;
padding:0pt 0pt 0pt 1em;
white-space:nowrap;
text-align: right;
}

ul.primary li, ul.secondary li {
display:inline;
}

ul.primary li.active a, ul.secondary li.active a {
background-color:#000;
border-color:#999;
border-bottom: 1px solid #060610;
border-style:solid;
border-width:1px;
}
ul.primary li a, ul.secondary li a {
background-color:#111;
border-color:#666;
border-style:solid solid none;
border-width:1px;
height:auto;
margin-right:0.5em;
padding:0pt 1em;
text-decoration:none;
}

div.tabs {
line-height: auto;
}

.submitted {
color:#999999;
font-size:0.8em;
}

#main h1.title {
padding-top: 0;
padding-bottom: 0;
color: #F0F388;
font-size: 24px;
line-height: 28px;
font-weight: bold;
font-family: Georgia, "Times New Roman", Times, serif;  
}
#main h2.title {
color: #6aa;
font-size: 15px;
line-height: 28px;
font-weight: bold;
font-family: Georgia, "Times New Roman", Times, serif;  
}

div.primarylinks {
//width: 500px;
margin-left: 235px;
color: #99c;
}

#content {
clear: both;
}

.sidebar ul {
margin-top: 0;
margin-bottom: 0;
}

.block {
margin-bottom: 20px;
}

#edit-submit {
color: #000;
}
.sidebar .block h2.title {
color: #c49a34;
font-size: 14px;
font-weight: bold;
width: 90%;
line-height: normal;
padding-bottom: 6px;
}

th a {
color: #69c;
}
#sidebar-left, #sidebar-right {
width: 200px;
overflow: hidden;
}
#sidebar-left {
padding-right: 25px;
}
.sidebar a {
color: #c09358;
}
.sidebar ul li ul li a {
color: #d6b070;
}
.sidebar a.active {
color: #f0f388 !important;
}
.sidebar a:visited {
color: #f0c388;
}

#sidebar-right {
padding-left: 25px;
}

.node .content {
margin-top: 1.5em;
}

#user-login-form label {
display: block;
}

#user-login-form input {
margin-bottom: 0.5em;
}

#main {
padding: 20px;
margin-bottom: 20px;
float: right;
width: 94%;
border: 1px solid #666666;
}

#main .corner {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
}

#main .corner-top-left {
  top: -1px;
  left: -1px;
  background: url(./corner-body.gif) top left no-repeat;
}

#main .corner-top-right {
  top: -1px;
  right: -1px;
  background: url(./corner-body.gif) top right no-repeat;
}

#main .corner-bottom-left {
  bottom: -1px;
  left: -1px;
  background: url(./corner-body.gif) bottom left no-repeat;
}

#main .corner-bottom-right {
  bottom: -1px;
  right: -1px;
  background: url(./corner-body.gif) bottom right no-repeat;
}


#main .sb-inner, .block .content .sb-inner {
background-color: transparent;
}

.block .content {
  border: 1px solid #c49a34;
  position: relative;
  /*-moz-border-radius: 7px;
  border-radius: 7px;*/
}


.block .content .corner {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
}

.block .content .corner-top-left {
  top: -1px;
  left: -1px;
  background: url(./corner-blocks.gif) top left no-repeat;
}

.block .content .corner-top-right {
  top: -1px;
  right: -1px;
  background: url(./corner-blocks.gif) top right no-repeat;
}

.block .content .corner-bottom-left {
  bottom: -1px;
  left: -1px;
  background: url(./corner-blocks.gif) bottom left no-repeat;
}

.block .content .corner-bottom-right {
  bottom: -1px;
  right: -1px;
  background: url(./corner-blocks.gif) bottom right no-repeat;
}

  
#main .sb-border {
background-color: #666;
}

.block .content {
position: relative;
padding: 15px;
}

.block .content .sb-border {
background-color: #c49a34;
}

#header {
  position: relative;
  height: 110px;
}

#logo {
  position: absolute;
}

h1.site-name {
  position: absolute;
  left: 120px;
  top: -20px;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  /*
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 5px;
  width: 225px;
  float: left;
  margin-top: -12px;
  */
}

div.site-slogan {
  position: absolute;
  top: 50px;
  left: 120px;
}

h1.site-name img:hover {
  border-bottom: 1px solid #99c;
}

h1.site-name a:active {
  font-decoration: none;
}

#primarylinks {
  position: absolute;
  top: 0px;
  left: 225px;
}

div.breadcrumb {
  position: absolute;
  bottom: 0px;
  left: 245px;
}

#header .search-box {
  float: right;
}

/* TAB LINKS */
#primarylinks ul li a {
  display: inline-block;
  color: #CCDDFF;
  font-weight: normal;
  padding: 0 1em 0.1em 1em;
  margin: 0 -8px 0px -4px;
  text-align: center;
  text-decoration: none;
}

#primarylinks a:hover {
    background: #6090ff !important;
}

#primarylinks {
  color: #222222;
  display: block !important;
}

#primarylinks li:nth-child(n+2):before {
  content: "|";
  color: #6090ff;
}

#primarylinks ul li {
  padding: 0;
  margin: 0;
  border: none !important;
}

#primarylinks {
  border: 2px solid #6090ff;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  background: #222222;
  padding-left: 1.1em;
  padding-right: 1.2em;
  margin: 0;
  height: 1.6em;
}


#footer div {
margin-left: 20px;
}

#sidebar-left {
float: left;
}

#body_pane {
margin-left: 225px;
position: relative;
}

#footer {
clear: both;
margin-left: 225px;
}


li a.active {
  color: #70FFFF;
}

tr.even, tr.odd, td.active {
  background-color: transparent;
}

table td {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

table tr.even {
  background-color: #222;
}

table th a {
  white-space: nowrap;
}

table th a img {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
}

* html .sidebar {
padding: 10px;
}

* html .tabs {
padding-top: 12px;
}

* html #footer {
padding-bottom: 10px;
}


.mission-statement {
  margin-bottom: 1em;
  padding: .5em;
  background: #333;
}

.preview .node,
.preview .comment {
  background: #333;
}

.box {
  background: #333;
}

span.webb-quoted {
  font-style: italic;
  color: #c49a34;
}

span.webb-quoted-1 {
  color: #f0f388;
}

span.webb-quoted-2 {
  color: #f0c388;
}

div.view-content-character-notes table caption {
  text-align: center;
  font-size: 1.2em;
}

fieldset {
  margin-top: 0.5em;
  padding: 0.5em;
  border: 1px solid #c49a34;
  -moz-border-radius: 10px;
}

/* Project module related stuff */

#project-issue-summary-table tr.even {
  background-color: transparent;
}

.project-issue .summary table td {
  color: White;
}

div.box {
  background-color: transparent;
}

div.project-issue table tbody tr {
	color: black;
}

/* Front Page Stuff */
.mission-statement, .front div { 
  margin: 0 0 1em 0 !important;
  color: #CCDDFF;
  border: 2px solid #6090ff;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #222222;
  padding: 0.5em;
  min-height: 5em;
  clear: both;
}
  
.mission-statement, .front:nth-child(even) div {
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}
  
.mission-statement, .front:nth-child(odd) div {
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}
 
.front h2 {
  width: auto;
  margin: 0;
  color: #111111;
  border: 2px solid #6090ff;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #6090ff;
  padding: 0.1em 0.5em 0 0.5em;
  text-align: left;
  font-size: 1.2em;
}
  
.front h2 a {
    color: #111111 !important;
}
  
.front:nth-child(odd) h2 {
  float: right;
  text-align: right;
}
  
.front:nth-child(even) h2 {
  float: left;
}

/* Format #content div, plus add a border */
#content {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #000000;
  position: relative;
  border: none;
  border: 2px solid #6090ff;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#main {
  margin-top: 1em;
}


/* Hide corners - welcome to the 21st Century... and CSS3 */
#content .corner {
  display: none;
}

/* Set min width to prevent funkyness... yes, I just made up a word. */
html {
  min-width: 1000px;
}

/* SIDE BLOCKS */

.block, .block .content a {
  color: #FFFF99;
}

.block .view-item {
  color: #111111;
}

.block .title {
  margin: 0 !important;
  color: #111111 !important;
  border: 2px solid #6090ff;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #6090ff;
  padding: 0.1em 0 0 0.4em !important;
  text-align: left;
  font-size: 1.2em;
  width: 10em !important;
}

.block .content {
  border: 2px solid #6090ff;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  background: #222222;
}

.view-field {
  color: #CCDDFF;
}

.block .marker {
  color: #6090ff;
}

.block-content li {
  list-style: disc !important;
  color: #6090ff;
  margin: 0.2em 0 0 0 !important;
}

.block-content {
  padding: 1em !important;
}

/* LINKS ON MOTD */
.block-content a, .block-content li a.active, .motd-box dt a:hover, .motd-box dd a, .view-content-og-ghp-characters a {
  color: #CCDDFF !important;
  font-weight: bold;
  text-decoration: none;
  margin-left: -1px !important;
  /* Pop this in to prevent 'flickering' caused by expansion of element on hover */
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: transparent !important;
}

.block-content a:hover, .block-content li a.active:hover, .motd-box dt a, .motd-box dd a:hover, .view-content-og-ghp-characters a:hover {
  color: #CCDDFF  !important;
  background: #6090ff !important;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #6090ff;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-left: -1px !important;
}


/* TAB LINKS */
#body_pane .tabs a {
  display: inline-block;
  color: #CCDDFF;
  font-weight: normal;
  padding-bottom: 0.1em;
  margin: 0 -8px 0px -4px;
  text-align: center;
  text-decoration: none;
}

#body_pane .tabs a:hover {
    background: #6090ff !important;
}

#body_pane .tabs {
  color: #222222;
  display: block !important;
}

#body_pane .tabs li:nth-child(n+2):before {
  content: "|";
  color: #6090ff;
}

#body_pane .tabs ul {
  padding: 0;
  margin: 0;
  border: none;
}

#body_pane div.tabs ul {
  border: 2px solid #6090ff;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  background: #222222;
  padding-left: 1.1em;
  padding-right: 1.2em;
  margin: 0;
  height: 1.6em;
}

#body_pane .tabs a {
  border: none;
  background: transparent;
}

.mission-statement {
  border-color: #9FC99F;
  background: #222222;
}

.main-front h1.title {
  padding-top:0.5em !important;
  margin-bottom: -1em;
}

label, #main h1.title {
  color: #CCDDFF !important;
}



.mission-header h2 {
  background: #9FC99F;
  color: #111111;
  width: 10em;
  margin: auto;
  font-size: x-large;
  padding: 0.3em;  
  border: 2px solid #9FC99F;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}


.main-front {
  border: none !important;
//  width: 96% !important;
} 


.marketing {
    padding: 40px 0 0 118px;
  }
  
.marketing img {
    width: 32px;
}


div.tabs {
  width: 100%;
}
  
ul.tabs.secondary {
  float: left !important
}
  
ul.tabs.secondary li {
  padding: 0;
  border: none;
}
